/* .mainDisplay {
  margin: 3px;
} */

.navBar {
  list-style: none;
  display: flex;
  flex-direction: row;
  padding: 3px;
  gap: 30px;
  padding: 10px;
  position: sticky;
  top: 2px;
  width: 90%;
  margin-left: 2%;
  margin-right: 2%;
}
.navBarItem:hover {
  background-color: aliceblue;
}
.seperator {
  width: 100%;
  border-bottom: 1px solid black;
  margin-bottom: 10px;
}
.navBarItem {
  border-radius: 3px;
  text-decoration: none;
  padding: 2px;
}
.navBarSelected {
  background-color: rgb(108, 159, 252);
}
.logo {
  width: 70px;
  height: auto;
  background: transparent;
  margin-left: 5px;
}

.loginBox {
  padding-top: 10px;

  background-color: aqua;
  width: 300px;
  height: 50vh;
  display: flex;
  flex-direction: column;
}
.loginInput {
  margin: 3px;
  font-size: larger;
}
#checkBtn {
  margin: 1px;
  font-size: small;
  width: 100px;
}
.signupBox {
  padding-top: 10px;
  background-color: aqua;
  width: 300px;
  height: 50vh;
  display: flex;
  flex-direction: column;
}

.sideNav{
  width: 100px;
  height: 80vh;
  position: relative;
  left:5px;
  top:0px;
  background-color: aqua;
}