/* .mainDisplay {
  margin: 3px;
} */

.navBar {
  list-style: none;
  display: flex;
  flex-direction: row;
  padding: 3px;
  gap: 30px;
  border: 2px rgb(159, 192, 255) solid;
  padding: 10px;
  position: sticky;
  top: 2px;
  background-color: rgb(209, 223, 248);
  width: 90%;
  margin-left: 2%;
  margin-right: 2%;
}
.navBarItem:hover {
  background-color: aliceblue;
}
.navBarItem {
  border-radius: 3px;
  text-decoration: none;
  padding: 2px;
}
.navBarSelected {
  background-color: rgb(108, 159, 252);
}
.logo {
  width: auto;
  height: 80px;
  background: transparent;
  margin-left: 5px;
}
